nav ul {
    background-color: #020202;
    overflow: hidden;
    list-style-type:none
  }
  nav li {
    float: left;
    color:darkorange;
    text-align:center
    padding: 20px 
    margin-right:20px 
    border: none;
    display:inline 
    text-decoration: none;
    font-size: 17px;
    background-color: #ddd;
  }