nav ul {
    background-color: #020202;
    overflow: hidden;
    list-style-type:none
  }
  nav li {
    float: left;
    color:darkorange;
    text-align:left
    paddingactive
    marginactive
    borderactive
    displayactive
    text-decoration: none;
    font-size: 17px;
    background-color: #ddd;
  }