body {
    background-color: yellow;
}

h1 {
    color: blue;
    margin-right: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper > header {
    order: 1;
    background: orange;
}

.wrapper > nav {
    order: 2;
    background: lightblue;
}

.wrapper > main {
    order: 3;
    flex-grow: 1;
    background: lightgreen;
}

.wrapper > aside {
    order: 4;
    background: lightpink;
}

.wrapper > footer {
    order: 5;
    background: lightgray;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.wrapper > footer::before {
    content: "";
    background-image: url('https://alr9kf.github.io/islt_7310/footer_background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.wrapper > footer:hover {
    background-color: #ccc;
}

.wrapper > footer:hover::before {
    opacity: 0;
}

/* Mobile Navigation Styles */

#mobile-menu-btn {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center; /* added */
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 1em;
}

@media (max-width: 600px) {
    body {
        padding: 0.5em;
    }

    .wrapper {
        position: relative;
        min-height: 100vh;
    }

    #mobile-menu-btn {
        display: none;
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 1.5em;
        cursor: pointer;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #333;
        top: 0;
        left: -100%;
        transition: left 0.5s ease;
        justify-content: center; /* added */
        align-items: center; /* added */
    }

    nav ul li {
        margin: 0;
        padding: 1em;
        color: #fff;
    }

    nav ul.showMenu {
        left: 0;
    }
}
