@-webkit-keyframes zooming {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes zooming {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .wrapper > footer::before {
    /* Existing code */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Added transform property */
  }
  
  .wrapper > footer:hover::before {
    /* Existing code */
    opacity: 0;
    -webkit-transform: scale(1.2); /* Added */
    transform: scale(1.2); /* Added */
  }
  
  .w3-animate-zooming {
    -webkit-animation: zooming 3s infinite; /* Modified animation name */
    animation: zooming 3s infinite; /* Modified animation name */
  }@-webkit-keyframes zooming {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes zooming {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .wrapper > footer::before {
    content: "";
    background-image: url('https://alr9kf.github.io/islt_7310/footer_background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Added transform property */
  }
  
  .wrapper > footer:hover {
    background-color: #ccc;
  }
  
  .wrapper > footer:hover::before {
    opacity: 0;
    -webkit-transform: scale(1.2); /* Added */
    transform: scale(1.2); /* Added */
  }
  
  .w3-animate-zooming {
    -webkit-animation: zooming 3s infinite; /* Modified animation name */
    animation: zooming 3s infinite; /* Modified animation name */
  }